$primary-color : #326DB3;
$label-text-color : #444444;
$post-title-color : black;
$post-date-color : #bbbbbb;
$search-background-color:#f0f0f0;
$placeholder-color :#d1d3d8;

$default-border-color :#dddddd;
$unselected-text-color :#666666;