@import "../../../../_styles/mixin";
.notice-container{
    width: 100vw;
    height: 1px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.notice-title-container {
    padding: 16px;
    box-sizing: border-box;
}

.notice-title {
    @include postTitle;
    word-wrap: break-word;
    width: 100%;
    margin-top: 4px;
    font-weight: 500;
    word-break: keep-all;
    color: $post-title-color
}
.notice-created-date{
    @include postSubTitle;
    font-weight: 400;
}

.notice-detail-container{
    word-wrap: break-word;
    padding: 15px;
    flex-grow: 1;
    background-color: #fafafa;
    box-sizing: border-box;
    height: 100%;
}
