@import "../../../../_styles/theme";
.notice-container{
    width: 100vw;
    height: 1px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.notice-title-container {
    padding: 16px;
    box-sizing: border-box;
}

.notice-title {
    word-wrap: break-word;
    width: 100%;
    margin-top: 8px;
    font-weight: 600;
    font-size: 24px;
    word-break: keep-all;
    color: $post-title-color
}
.notice-created-date{
    color: $post-date-color;
    font-size: 14px;
}

.notice-detail-container{
    word-wrap: break-word;
    padding: 16px;
    flex-grow: 1;
    background-color: #fafafa;
    box-sizing: border-box;
    height: 100%;
}
