@import "../../_styles/_mixin";
.product-item-wrapper {
    width: 100vw;
    display: grid;
    justify-content: center;
    margin: auto;

    @include desktop{
        max-width: 1200px;
        grid-gap: 32px;
        grid-template-columns: repeat(4, calc(100%/5));

    }
    @include tablet {
        grid-gap: 16px;
        grid-template-columns: repeat(3, calc(100%/4));
    }
    @include mobile {
        grid-gap: 8px;
        box-sizing: border-box;
        padding: 16px;
        grid-template-columns: repeat(2, calc(100%/2));
    }
}