.terms-container-wrapper{
    width: 100vw;
}
.terms-container{
    max-width: 740px;
    margin: auto;
    width: 100%;
}
.terms-content{
    padding: 16px;
    box-sizing: border-box;
    max-width: 740px;
}