@import "../../../../../_styles/mixin";
.faq-title-container-wrapper{
  width: 100%;
}
.faq-title-container {
  width: 100%;
  display: flex;


}

.faq-title {
  @include postTitle;
  flex-grow: 1;
  min-height: 24px;
  vertical-align: middle;
  line-height: 24px;
  word-break: break-all;
}

.faq-title-category {
  @include postSubTitle;
}

.szh-accordion {
  &__item {

    &-btn {
      cursor: pointer;
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0;
      padding: 16px;
      font-size: 1rem;
      font-weight: 400;
      text-align: left;
      background-color: transparent;
      border: none;

    }

    &-content {
      // transition: height 0.25s cubic-bezier(0, 0, 0, 1);
      background-color: #f4f4f4;
      font-size: 14px;
      font-weight: 300;
    }

    &-panel {
      padding: 1rem;
    }

    &--expanded {

      .chevron-down {
        min-width: 24px;
        transform: rotate(180deg);
        display: block;
      }
    }
  }

  .chevron-down {
    margin-left: auto;
    transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
  }

}

.more-button {
  height: 48px;
  width: 100%;
  border: none;
  font-weight: 300;
  text-align: center;
  background: transparent;
  margin-bottom: 16px;
}